<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Testing</title>
	<link rel="stylesheet" href="css/reset.css" type="text/css" charset="utf-8">
	<link rel="stylesheet" href="css/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/sidepane.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/body.css" type="text/css" media="screen" title="no title" charset="utf-8">
	
</head>
<body>
	<div id="sidepane">
		<div class="blogname">
			<a href="/">Blog Name</a>
		</div>
		<div class="blogdesc">The blog description should go here. This is just some random text I'm putting so it can become very big.</div>
		
		<div class="pages">
			<a href="/">About</a> - <a href="/">Contact</a> - <a href="/">Apps</a> - <a href="/">Other Stuff</a>
		</div>
		
		<div id="side_custom_area">
			Here goes some Markdown/HTML stuff that you can add whatever you want!
		</div>
	</div>
	
	<div id="maincontent">
	  {{#posts}}
	    <div class="post">
	      {{{title}}}
  			<!--<a href="" class="posttitle">{{{title}}}</a>-->
  			<div class="postdesc">{{{caption}}}</div>
		
  			<div class="postbody">{{{body}}}</div>
  		</div>
	  {{/posts}}
		
		<!--<div class="post">
			<a href="/" class="posttitle">OAuth Broke The Internet</a>
			<div class="postdesc">
				Nathan Campos on April 2, 2012
			</div>
		
			<div class="postbody">
				<p>If you don’t know what OAuth is, it’s a auth process for cross-domain login, like Twitter or Facebook when you want to login/register on client apps, like HootSuite, Carbon or Tweetbot, or when you’re just logging into a 3rd-party site like Empire Avenue or Geeklist.</p>

				<p>It’s a very secure system, the problem is that you break the user experience in the worst way possible. You take the user out of the web site or app just to login, the developer has to create a very bad system by embedding a WebView to the app or redirecting to the browser just to log the user in.</p>

				<p>xAuth is good, but not perfect, at least you don’t need to take the user out of the app, the problem is that Twitter, for example, the developer must request the xAuth keys and wait if it gets approved, also it has limitations like no access to Direct Messages.</p>

				<p>Users and developers should make some pressure on Twitter, Facebook, Google etc. to open the xAuth access without limitations or ask for a new and better authentication system.</p>
			</div>
		</div>-->
	</div>
</body>
</html>
