#maincontent {
	width: 700px;
	margin-left: 300px;
	margin-top: 90px;
}

.post .posttitle {
	font-size: 24px;
	font-weight: bold;
}

.post .postdesc {
	color: #666;
}

.post .postbody {
	padding-top: 15px;
	margin-bottom: 40px;
	border-bottom: 1px solid #CFCFCF;
	
	font-size: 1.15em;
}

.post .postbody p {
	margin-bottom: 1.625em;
}