#sidepane {
	position: absolute;
	left: 0;
	top: 0;

	width: 200px;
	padding: 25px;
}

#sidepane .blogname {
	font-size: 30px;
	text-align: center;

	margin-top: 60px;
	margin-bottom: 10px;
}

#sidepane .pages {
	margin-top: 20px;
	text-align: center;
}

#sidepane .pages a {
	font-weight: bold;
}

#side_custom_area {
	margin-top: 20px;
}